body {
	margin: 0;
	padding: 0;
	color: white;
	background: #121212;

	font-family: 'Roboto', sans-serif;
	cursor: default;
}

#root {
	background: #ffffff0c;
	border-radius: 20px;
	margin: 20px 20px;
	padding: 20px 0;
	padding-bottom: 10px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	display: flex;
	flex-direction: column;
}

#header {
	background: #ffffff10;
	margin: 0 5px;
	margin-bottom: 20px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	border-radius: 5px;
}

#header h1 {
	margin: 0;
	font-size: 48px;
	text-align: center;
	color: #03dac6;
}

#dropWrapper {
	background: #ffffff0c;
	border-radius: 20px;
	padding: 5px;
	margin: 0 5px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#dropWrapper .above {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	margin-bottom: 7px;
}

#dropWrapper .desc {
	font-size: 1.1em;
}

#dropWrapper #fileLocHelp {
	color: #bb86fc;
	cursor: pointer;
}

#drop {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 50px;
	text-align: center;
	font: 20pt bold;
	color: #bbb;
	cursor: pointer;
}

#tools {
	background: #ffffff0c;
	border-radius: 20px;
	margin: 20px 5px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#loadedInfo {
	border-bottom: 2px solid white;
	margin: 5px 0;
	padding: 2px 5px;
	font-size: 2em;
	display: flex;
	justify-content: flex-start;
}

#loadedInfo .title {
	margin-right: 20px;
}

#loadedInfo .name {
	color: #03dac6;
}

#submarineTools {
	border-bottom: 2px solid white;
	display: flex;
	flex-direction: column;
}

#submarineTools .title {
	font-size: 2em;
	text-align: center;
}

#submarineTools .toolSection {
	margin: 0;
	padding: 10px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
}

.toolWrapper {
	background: #ffffff0c;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.toolWrapper .label {
	font-size: 20px;
	margin-bottom: 5px;
	text-align: center;
}

.toolWrapper .tool {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.toolWrapper .tool .confirmButton {
	cursor: pointer;
	color: #bb86fc;
	border: 1px solid white;
	background: #ffffff0c;
	margin: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
}

.toolWrapper .tool .confirmButton:hover {
	border-color: #bb86fc;
}

.toolWrapper .label {
	font-size: 20px;
	margin-bottom: 5px;
	text-align: center;
}
.toolWrapper .tool #priceInput {
	margin-bottom: 5px;
	width: 100px;
}

#extractButtons {
	padding-bottom: 20px;
}

#extractButtons .title {
	font-size: 2em;
	text-align: center;
	margin-bottom: 10px;
}

#buttonsWrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 50px;
}

.extractButton {
	cursor: pointer;
	color: #bb86fc;
	border: 1px solid white;
	background: #ffffff0c;
	margin: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

.extractButton:hover {
	border-color: #bb86fc;
}

#buttonsWrapper #extractImage {
	margin-right: 50px;
}

#buttonsWrapper .shuttleButton {
}

#downloadPrompt {
	background: #ffffff0c;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	margin: 10px 10px 20px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#downloadButton {
	cursor: pointer;
	color: #bb86fc;
	border: 1px solid white;
	background: #ffffff0c;
	margin: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	animation: border-pulsate 2s infinite;
}

#downloadButton:hover {
	border-color: #bb86fc;
	animation: none;
}

@keyframes border-pulsate {
	0% {
		border-color: #bb86fcff;
		color: #bb86fcff;
	}
	50% {
		border-color: #ffffffff;
		color: #ffffffff;
	}
	100% {
		border-color: #bb86fcff;

		color: #bb86fcff;
	}
}

#infoBox {
	background: #2c2c2c;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 10px 10px 33px 8px rgba(0, 0, 0, 0.75);
	position: fixed;
	width: 700px;
	height: 300px;
	margin: 50px auto;
	left: 0;
	right: 0;
	top: 10px;
	border: 3px solid white;
	font-size: 20px;
}

#closeInfoBox {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px 10px;
	font-size: 2em;
	color: #bb86fc;
	cursor: pointer;
}

#infoBox .text {
	margin-top: 30px;
}

.highlight {
	color: #03dac6;
}
