body {
	margin: 0;
	padding: 0;
	color: white;
	background: #121212;

	font-family: 'Roboto', sans-serif;
}

#root {
	background: #ffffff0c;
	border-radius: 20px;
	margin: 20px 20px;
	padding: 20px 0;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	display: flex;
	flex-direction: column;
}

#header {
	background: #ffffff10;
	margin-bottom: 20px;
}

#header h1 {
	margin: 0;
	font-size: 48px;
	text-align: center;
	color: #03dac6;
}

#dropWrapper {
	background: #ffffff0c;
	border-radius: 20px;
	padding: 5px;
	margin: 0 5px;
}

#dropWrapper .above {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	margin-bottom: 7px;
}

#dropWrapper .desc {
	font-size: 1.1em;
}

#dropWrapper #fileLocHelp {
	color: #bb86fc;
	cursor: pointer;
}

#drop {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 50px;
	text-align: center;
	font: 20pt bold;
	color: #bbb;
}
